.log{
  background: url('../images/lodbgc.jpg') ; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:900px;
  border-radius: unset;
  position: static;
  overflow: auto;
  width: 100%;
}

.log .react-main-box{
  margin-top: 100px;
}
.react-main-box{
  width: 50%;
  opacity:initial;
  height: 570px;
  margin: auto;
  display: flex;
  border: 2px;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  background: transparent;
  float: center;
  
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.login-image-svg{
  width: 100%;
  height: 100%;
  margin: 50px auto;
  }

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 50px;
  }
  
  .container1 {
   
    width: 360px;
    height: 550px;
    background-color: #ece6e5;
    background-image: linear-gradient(315deg, #e1e6eb 0%,rgb(250, 240, 240) 74%);
    word-break: break-all;
    float:left;
    
    
  }
  
  .bloc-tabs {
    display: flex;
    color: rgb(41, 166, 170);
   

  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background:rgba(252, 251, 251, 0.836);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-radius: 50px;
    color: rgb(7, 6, 7);
  }
  
  
  .active-tabs  {
    background-color: #fafafa;
    background-image: linear-gradient(315deg, #9a38a3 0%, #a634f1 74%);
    border-bottom: 0px solid transparent;
    border-radius: 50cm;
    color:rgb(223, 54, 54) (223, 9, 9);
  }
  
  .Navbar{
    border-radius: initial;
  }


  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 0px;
    background-color: #39aece;
    background-image: linear-gradient(315deg, #f3ecf2 0%, #7d1c91 74%);
  }
  
  button {
    border: none;
   
    
  }
  .content-tabs {
    flex-grow : 1;
    
    
   
  }
  .content {
    background-color: #ebf0f1;
    background-image: linear-gradient(315deg, #eef7f7 0%, #f4eef7 74%);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 50px;
  }
  
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
    
  }
  
  .container1 input{
    margin-top: 20px;
    margin-left:50px;
    height:40px;
    width:200px;
    text-align: center;
    border:2px solid rgb(79, 43, 211);
    border-radius:50px;
  }
  #forget-password{
    margin-top: 20px;
    margin-right: 30px;
    float:right;
    font-style: underline;
  }
  #button1{
    margin-top:25px;
    margin-left:100px;
    height: 40px;
    width:100px;
    border:2px solid rgb(80, 5, 150);
    border-radius:30px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-style:Bold;
    
   }
  #button1:hover{
    transform: scale(1.06);
    
    background-image: linear-gradient(315deg,#9a38a3 0%, #a634f1 54% );
    
  }
 
  .box1{
    width:250px;
    height: 40px;
    margin-top: 20px;
    margin-left:50px;
    border:1px solid rgb(236, 230, 230);
    border-radius:0px;
    text-align: center;
    color:rgb(65, 39, 179);
  
  }
  img{
    height: 40px;
    width:40px;
  }
  .google img{
    width: 18px;
    height: 18px;
  }
  .google{
    margin-left: 40px;
    width: 250px;
    height: 50px;
    text-align: center;
    border:2px solid rgb(35, 96, 177);
    border-radius: 30px;
    background-color:white;
  }
  .google label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 2px;
    padding: auto;
  }
  .box2{
    width:250px;
    height: 40px;
    margin-top: 10px;
    margin-left:50px;
    border:1px solid rgb(158, 45, 192);;
    border-radius:30px;
    text-align: center;
    color:rgb(158, 45, 192);
  }
  .row-box{
    margin-top: 30px;
    width: 360px;
    height: 50px; 
  
  }
 
  .react-tel-input {
    margin-top: 5px !important;
    margin-right: 50px !important;
  }
  
  

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .separator {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: rgb(158, 45, 192);
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom:2px solid rgb(158, 32, 184);
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  
  #admin{
    margin-top:25px;
    margin-left:80px;
    color: black;
    height: 40px;
    width:150px;
    border:2px solid rgb(36, 7, 141);
    border-radius:30px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-style:Bold;
  }
  
  

 
  @media only screen and (max-width: 600px)
  {
    .log{
      background-position:top;
      background-size: 400px 200px;
      border-radius: unset;
      background-repeat: no-repeat;
    }
    .react-main-box{
      margin:auto ;
      width: 360px;

      height: 900px;
      border:0px solid black;
    }
    .login-image-svg{
      margin-top: 25px;
    }
    *, ::before, ::after {
      box-sizing:border-box;
      margin: 0;
      padding: 0;
      border-radius:50px ;
    }
    
    .container1 {
     
      width: 330px;
      height: 500px;
      background-color: transparent;
      border:0px solid green;
      margin:auto;
      margin-top:0px;
      margin-left: 15px;
      word-break: break-all;
      border-radius: auto;
    }
    
    .bloc-tabs {
      display: flex;
      color: aqua;
    }
    .tabs {
    
      padding: 15px;
      text-align: center;
      width: 50%;
      background:transparent;
      cursor: pointer;
      box-sizing: content-box;
      position: relative;
      outline: none;
    }
    
    
    .active-tabs  {
      background-image: linear-gradient(315deg,#9a38a3 0%, #a634f1 74% );
      border-bottom: 1px solid transparent;
      color:aqua;
    }
    
    .active-tabs::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height:0px;
      background-color: #39aece;
      background-image: linear-gradient(315deg, #161718 0%, #141313 74%);
    }
    
    button {
      border: none;
      
    }
    .content-tabs {
      flex-grow : 1;
    }
    .content {
      background-color:transparent;
      padding: 20px;
      width: 100%;
      height: 100%;
      display: none;
    }
    
    .content p {
      width: 100%;
      height: 100%;
    }
    .active-content {
      display: block;
    }
    
    .container1 input{
      margin-top: 20px;
      margin-left:50px;
      height:40px;
      width:200px;
      text-align: center;
      border:2px solid rgb(22, 10, 124);
      border-radius:30px;
    }
    #forget-password{
      margin-top: 20px;
      margin-right: 30px;
      float: right;
      font-style: underline;
    }
    #button1{
      margin-top:25px;
      margin-left:100px;
      height: 40px;
      width:100px;
      border:2px solid rgb(16, 3, 126);
      border-radius:30px;
      text-align:center;
      font-family: Arial, Helvetica, sans-serif;
      font-style:Bold;
    }
    .box1{
      width:250px;
      height: 40px;
      margin-top: 20px;
      margin-left:50px;
      border:1px solid rebeccapurple;
      border-radius:30px;
      text-align: center;
      color:blue;
    
    }
    img{
      padding: 0px;
      height: 20px;
      width:40px;
    }
    .google img{
      width: 18px;
      height: 18px;
    }
    .google{
      margin-left: 40px;
      width: 250px;
      height: 50px;
      text-align: center;
      border:2px solid rgb(20, 9, 117);
      border-radius: 30px;
      background-color:white;
    }
    .google label{
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      margin-top: 2px;
      padding: auto;
    }
    .box2{
      width:250px;
      height: 40px;
      margin-top: 10px;
      margin-left:50px;
      border:1px solid rebeccapurple;
      border-radius:30px;
      text-align: center;
      color:blue;
    }
    .row-box{
      margin-top: 30px;
      width: 360px;
      height: 50px; 
    
    }
   
    .react-tel-input {
      margin-top: 5px !important;
      margin-right: 50px !important;
    }
    
    
  
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .separator {
      margin-top: 20px;
      display: flex;
      align-items: center;
      color: aqua;
      text-align: center;
    }
    
    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom:2px solid aqua;
    }
    
    .separator:not(:empty)::before {
      margin-right: .25em;
    }
    
    .separator:not(:empty)::after {
      margin-left: .25em;
    }
    
    #admin{
      margin-top:25px;
      margin-left:80px;
      color: black;
      height: 40px;
      width:150px;
      border:2px solid rgb(17, 15, 143);
      border-radius:30px;
      text-align:center;
      font-family: Arial, Helvetica, sans-serif;
      font-style:Bold;
    }
  }